body{
    display: flex;
    justify-content: center;
}
.login-container{
    width: 600px;
    padding: 10px 12px;
    background-color: #fff;
    margin-top: 20px;
}
img{
    height: 90px;
    width: 110px;
}
h3{
    color: darkred;
}
.form-group{
    position: relative;
    margin: 20px;
    width: 100%;
}
.form-input{
    width: 100%;
    padding: 14px 10px 6px;
    border: 2px solid #00b894;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}
.form-label{
    position: absolute;
    left: 10px;
    top: 15px;
    color: #00b894;
    font-size: 16px;
    background-color: white;
    transition: 0.3s;
    padding: 0 4px;
    pointer-events: none;
}
.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #00b894;
}
a{
    text-decoration: none;
}
.forgot{
    float: right;
    margin-right: 10px;
}
button{
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: #037961;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    background-color: #022e25;
    transition: 0.5s;
}
footer{
    bottom: 10px;
    position: fixed;
    font-size: 14px;
    width: 100%;
    text-align: center;
}