body{
    display: flex;
    justify-content: center;
}
.form-group{
    position: relative;
    margin: 20px;
    width: 280px;
}
.form-input{
    width: 100%;
    padding: 14px 10px 6px;
    border: 2px solid #00b894;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}
.form-label{
    position: absolute;
    left: 10px;
    top: 14px;
    color: #00b894;
    font-size: 16px;
    background-color: white;
    transition: 0.3s;
    padding: 0 4px;
    pointer-events: none;
}
.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #00b894;
}